@font-face {
    font-family: 'Florens LP Std';
    src: url('FlorensLPStd.eot');
    src: url('FlorensLPStd.eot?#iefix') format('embedded-opentype'),
        url('FlorensLPStd.woff2') format('woff2'),
        url('FlorensLPStd.woff') format('woff'),
        url('FlorensLPStd.ttf') format('truetype'),
        url('FlorensLPStd.svg#FlorensLPStd') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

